.s-btn {
  border: 1px solid rgb(237 122 127) !important;
  border-color: rgb(237 122 127) !important;
  color: rgb(239 117 58) !important;

  &:hover {
    color: rgb(239 117 58) !important;
  }
  &:focus{
    outline: none;
  }
}

.b-text {
  color: rgb(16, 16, 16) !important;
}

.white-bg {
  background: #fff;
}

.pink-bg {
  background: #b9f0e9;
}

.s-navbar {
  padding: 20px;
}

.navbar-nav {
  .nav-item {
    &.active {
      .nav-link {
        color: #eb7a67;
      }
    }
  }
}

.login-btn {
  margin-right: 10px;
  cursor: pointer;
}

.m-navbar-top {
  margin-top: 80px;
}

.wap {
  .jumbotron {
    background: #fbf7ed;
    margin-bottom: 0;
    background: url('../assets/home/banner@2x.png')  no-repeat;
    background-size: cover;
    color: #ef753a;
    height: 540px;
  }
}

.b-footer {
  padding: 2.5rem 0;
  color: #9299B0FF;
  text-align: center;
  background-color: #F8F9FAFF;
  border-top: .05rem solid #e5e5e5;
}

.navbar-light .navbar-nav .nav-link {
  color: #3D4157FF
}

.about-us {
  margin-top: 50px;
  padding-left: 50px;
}
.about {
  background: #FDFBF9FF;
}

.home-logo {
  width: 130px;
  margin-top: -5px;
}

// login
.login-container {
  display: flex;
}
.left-panel {
  flex: 1;
}
.right-panel {
  flex: 1;
}
.right-panel {
  position: relative;
}
.login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F8F9FAFF;
  padding: 20px 0;
  .info {
    p {
      color: #9299B0FF;
      margin-bottom: 0;
    }
  }
}
.login {
  width: 600px;
  margin: auto;
  .login-form {
    .el-form-item__label {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.social-icon {
  ul, li {
    list-style: none;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 20px;
      img {
        width: 24px;
      }
    }
  }
}