.s-btn {
  border: 1px solid rgb(237 122 127) !important;
  border-color: rgb(237 122 127) !important;
  color: rgb(239 117 58) !important;

  &:hover {
    color: rgb(239 117 58) !important;
  }
  &:focus {
    outline: none;
  }
}
.secondary {
  background: #ffe0d3ff !important;
  color: #ef6f38ff !important;
}

.b-text {
  color: rgb(16, 16, 16) !important;
}
.navbar-light {
  transition: background 0.2s;
}

.white-bg {
  background: #fff;
}

.no-bg {
  background: transparent;
}

.pink-bg {
  background: #b9f0e9;
}

.s-navbar {
  padding: 20px;
}

.login-btn {
  margin-right: 10px;
  cursor: pointer;
}

.m-navbar-top {
  margin-top: 40px;
}

// .wap {
// width: 100%;

.jumbotron {
  background: #fff !important;
  padding: 8rem 2rem!important;
}
// }

.b-footer {
  padding: 2.5rem 0;
  color: #9299b0ff;
  text-align: center;
  background-color: #f8f9faff;
  border-top: 0.05rem solid #e5e5e5;
}

.navbar-light {
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav {
    .nav-link {
      color: #111;
    }
  }
  .login-btn {
    color: #fff;
  }
  &.white-bg {
    .navbar-nav {
      .nav-link {
        color: #f28c60;
      }
    }
    .login-btn {
      color: #3d4157ff;
    }
  }
}
.navbar-nav {
  .nav-item {
    margin-left: 16px;
    &.active {
      .nav-link {
        color: #111 !important;
      }
    }
  }
}

.about-us {
  margin-top: 50px;
  padding-left: 50px;
}
.about {
  background: #fdfbf9ff;
}

.home-logo {
  width: 120px;
  margin-top: -5px;
}

// login
.login {
  width: 500px;
}

.login-container {
  display: flex;
}
.login-form {
  padding-top: 40px;
}
.left-panel {
  flex: 1;
}
.right-panel {
  flex: 1;
}
.right-panel {
  position: relative;
}
.login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f8f9faff;
  padding: 20px 0;
  .info {
    p {
      color: #9299b0ff;
      margin-bottom: 0;
    }
  }
}
.login-box {
  height: calc(100vh - 146px);
}
.login {
  // width: 600px;
  .login-form {
    .el-form-item__label {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.social-icon {
  ul,
  li {
    list-style: none;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 20px;
      img {
        width: 24px;
      }
    }
  }
}
.custom-dialog {
  .el-dialog__body {
    border-top: 1px solid #ddd;
  }
  // .el-dialog__body {
  //   max-height: 680px !important;
  //   overflow: overlay !important
  // }
}
.dialog-scrollbar {
  height: 600px;
  max-height: 550px;
}
