.s-btn {
  border-color: rgb(237 122 127);
  color: rgb(239 117 58);
  &:hover {
    color: rgb(239 117 58);
  }
}
.b-text{
  color: rgb(16, 16, 16)!important;
}
.white-bg {
  background: #fff;
}
.pink-bg {
  background: #fbdfe4;
}
.s-navbar {
  padding: 20px;
}
.navbar-nav {
  .nav-item {
    &.active {
      .nav-link {
        color: #eb7a67;
      }
    }
  }
}
.login-btn {
  margin-right: 10px;
  cursor: pointer;
}
.wap {
  margin-top: 88px;
  .jumbotron {
    background: #e8e8e8;
  }
}