@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './home.scss';
// @import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}


.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.page-container {
  overflow: hidden;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

// .container{
//   max-width: 1600px!important;
// }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.c_blue{color: #1890ff;}.c_red{color:#ff4949}.c_dBlue{color: #0000EE;}.c_green{color: #67C23A}
.f-l{float:left!important;} .f-r{float:right!important;}.hidden{overflow: hidden!important;}
.t-c{text-align:center;}.t-r{text-align:right;}.t-l{text-align:left;}
.d-n{display:none;}.d-lb{display:inline-block;}.d-b{display:block;}.d-f-n{display:flex;flex-wrap:nowrap;}.d-f-w{display:flex;flex-wrap:wrap;}
.p-r{position:relative}.p-a{position:absolute}.p-f{position:fixed}
.va-m{vertical-align: middle}
.ws-n{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.l-h0{line-height:0px!important;}.l-h20{line-height:20px!important;}
.f_s12{font-size:12px}.f_s14{font-size:14px}.f_s22{font-size:22px}
.cursor_p{cursor:pointer}.cursor_auto{cursor:auto}
.m0{margin:0px !important;}.m5{margin:5px !important;}.m10{margin:10px !important;}.m15{margin:15px !important;}.m20{margin:20px !important;}
.mr0{margin-right:0px !important;}.ml0{margin-left:0px !important;}.mt0{margin-top:0px !important;}.mb0{margin-bottom:0px !important;}.m0{margin:0px !important;}
.mr2{margin-right:2px !important;}.ml2{margin-left:2px !important;}.mt2{margin-top:2px !important;}.mb2{margin-bottom:2px !important;}.m2{margin:2px !important;}
.mr4{margin-right:4px !important;}.ml4{margin-left:4px !important;}.mt4{margin-top:4px !important;}.mb4{margin-bottom:4px !important;}.m4{margin:4px !important;}
.mr5{margin-right:5px !important;}.ml5{margin-left:5px !important;}.mt5{margin-top:5px !important;}.mb5{margin-bottom:5px !important;}.m5{margin:5px !important;}
.mr10{margin-right:10px !important;}.ml10{margin-left:10px !important;}.mt10{margin-top:10px !important;}.mb10{margin-bottom:10px !important;}.m10{margin:10px !important;}
.mr20{margin-right:20px !important;}.ml20{margin-left:20px !important;}.mt20{margin-top:20px !important;}.mb20{margin-bottom:20px !important;}.m20{margin:20px !important;}
.mr30{margin-right:30px !important;}.ml30{margin-left:30px !important;}.mt30{margin-top:30px !important;}.mb30{margin-bottom:30px !important;}.m30{margin:30px !important;}
.mr40{margin-right:40px !important;}.ml40{margin-left:40px !important;}.mt40{margin-top:40px !important;}.mb40{margin-bottom:40px !important;}.m40{margin:40px !important;}
.mr50{margin-right:50px !important;}.ml50{margin-left:50px !important;}.mt50{margin-top:50px !important;}.mb50{margin-bottom:50px !important;}.m50{margin:50px !important;}
.p0{padding:0 !important;}.pt0{padding-top:0px;}.pl0{padding-left:0px !important;}.pr0{padding-right:0px !important;}.pb0{padding-bottom:0px !important;}
.p5{padding:5px !important;}.p10{padding:10px !important;}.p15{padding:15px !important;}.p20{padding:20px !important;}.p30{padding:30px !important;}.p40{padding:40px !important;}.p50{padding:50px !important;}.p60{padding:60px !important;}
.pt4{padding-top:4px;}.pl4{padding-left:4px !important;}.pr4{padding-right:4px !important;}.pb4{padding-bottom:4px !important;}.p4{padding:4px !important;}
.pt5{padding-top:5px !important;}.pl5{padding-left:5px !important;}.pr5{padding-right:5px !important;}.pb5{padding-bottom:5px !important;}.p5{padding:5px !important;}
.pt10{padding-top:10px !important;}.pl10{padding-left:10px !important;}.pr10{padding-right:10px !important;}.pb10{padding-bottom:10px !important;}.p10{padding:10px !important;}
.pt15{padding-top:15px !important;}.pl15{padding-left:15px !important;}.pr15{padding-right:15px !important;}.pb15{padding-bottom:15px !important;}.p15{padding:15px !important;}
.pt20{padding-top:20px !important;}.pl20{padding-left:20px !important;}.pl40{padding-left:40px !important;}.pr20{padding-right:20px !important;}.pb20{padding-bottom:20px !important;}.p20{padding:20px !important;}
.w-40{width:40px !important;}.w-50{width:50px !important;}.w-60{width:60px !important;}.w-70{width:70px !important;}.w-80{width:80px !important;}.w-90{width:90px !important;}
.w-100{width:100px !important;}.w-120{width:120px !important;}.w-130{width:130px !important;}.w-140{width:140px !important;}.w-150{width:150px !important;}.w-170{width:170px !important;}.w-180{width:180px !important;}
.w-200{width:200px !important;}.w-210{width: 210px !important;}.w-250{width: 250px !important;}
.w-230{width: 230px !important;}.w-250{width: 250px !important;}.w-280{width: 280px !important;}.w-290{width: 290px !important;}.w-300{width: 300px !important;}.w-340{width: 340px !important;}.w-350{width: 350px !important;}.w-380{width: 380px !important;}
.w-400{width:400px !important;}.w-500{width:500px !important;}.w-420{width:420px !important;}.w-480{width:480px !important;}.w-570{width:570px !important;}.w-650{width:650px !important;}.w-730{width:730px !important;}.w-880{width:880px !important;}.w-1000{width:1000px !important;}
.w_20{width:20%!important}.w_30{width:30%!important}.w_40{width:40%!important}.w_50{width:50%!important}.w_100{width:100%!important}
.w_100-20{width:calc(100% - 20px)!important}.w_100-100{width:calc(100% - 100px)!important}.w_100-120{width:calc(100% - 120px)!important}.w_100-150{width:calc(100% - 150px)!important}
.mw_50{min-width:50px!important;}.mw_150{min-width:150px!important;}.mw_250{min-width:250px!important;}.mw_280{min-width:280px!important;}.mw_330{min-width:330px!important;}.mw_350{min-width:350px!important;}.mw_360{min-width:360px!important;}.mw_380{min-width:380px!important;}.mw_480{min-width:480px!important;}.mw_500{min-width:500px!important;}.mw_700{min-width:700px!important;}.mw_880{min-width:880px!important;}.mw_1000{min-width:1000px!important;}
.maxw_380{max-width:380px!important;}.maxw_50{max-width:50px!important;}.maxw_250{max-width:250px!important;}.maxw_150{max-width:150px!important;}.maxw_100{max-width:100px!important;}
.mh_300{min-height: 280px!important;} .maxh_280{max-height: 280px!important;}
.step-jump span{color:#1890ff ;}
.p5_input .el-input__inner{padding:0 5px;}
.p5_input .el-textarea__inner{padding:0 5px;}
.webkitBox{ overflow: hidden;white-space: nowrap;text-overflow:ellipsis;line-height:16px;}
.webkitBox1{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;line-height:16px;}
.hideSidebar {
  .footBtn {
    width: calc(100% - 54px);
  }
}
.footBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 210px);
  transition: display 0.5s;
  .footer {
    border-top: 1px solid #c8c8c8;
    background:#fff;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    transition: display 0.5s;
  }
}
[v-cloak] {
  display: none;
}

.form-tip {
  color: #999;
  font-size: 13px;
}
.primary {
  color: $--color-primary;
  &:hover {
    color: $--color-primary;
  }
}

.link {
  color: #1890ff;
  cursor: pointer;
  &:hover {
    color: #1890ff;
  }
}

.variant-image {
  .el-radio__input {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
  }
  .el-radio__label {
    padding-left: 0px;
  }
}
.action-btn-group {
  padding: 20px 0;
}

.flexbox {
  display: flex;
}

@for $i from 1 through 5 {
  .flex-#{$i} {
    flex: #{$i} 1 auto;
  }
}

$justify-list: center, start, end, flex-start, flex-end, left, right, space-between, space-around, space-evenly;
@each $item in $justify-list {
  .justify-#{$item} {
    justify-content: #{$item};
  }
}

$align-list: center, start, end, flex-start, flex-end, self-start, self-end, stretch, baseline;
@each $item in $align-list {
  .align-#{$item} {
    align-items: #{$item};
  }
}
.nodata {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
  font-size: 16px;
  padding: 50px;
}
